<div class="wrapper fadeInDown">
    <div id="formContent">
      <!-- Tabs Titles -->
  
      <!-- Icon -->
      <div>
        <mat-icon>language</mat-icon>
      </div>
  
      <!-- Login Form -->
      <form>
        <input type="text" id="login" class="fadeIn second" name="login" placeholder="login" autocomplete=off>
        <input type="text" id="password" class="fadeIn third" name="login" placeholder="password" autocomplete=off>
        <input type="submit" class="fadeIn fourth" value="Log In" (click)="SubmitData()">
      </form>
  
  
    </div>
  </div>